.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 3.4fr 0.6fr 0.1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Top-Bar Top-Bar Top-Bar ."
    ". . . ."
    ". . . .";
}

.Top-Bar { grid-area: Top-Bar; }
