.box{
  display:flex;
  justify-content:right;
}
.item1{
   display: flex;
   justify-content: left;
   width: 20%;
}

.item2{
   display: flex;
   justify-content: left;
   width: 60%;
}

.item3{
   display: flex;
   justify-content: right;
   width: 20%;
}

.logo {
	transform: scale(0.2);
}

.full-header {
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
    border-bottom: 2px solid #f3f3f4;
}